@import './reset';
@import './fonts';

.container {
    width: 100%; max-width: 80vw; margin: 0 auto;
}

.wgl-container {
    overflow: hidden;

    .wgl-wrapper {
        display: flex;
        &.wgl-row { flex-direction: row; }
        &.wgl-col { flex-direction: column; }
    }
    .wgl-item { width: 100%; flex: 1 0 100%; }
}


img { width: 100%; height: auto; }